---
layout: default
---
<main class="row">
  <aside class="col-md-3 ar-intro">
    <img src="{{ site.url }}/assets/me.png" alt="profile photo" class="ar-pic"/>
    <ul class="list-unstyled main-nav">
      <li>
        <a href="{{ site.url }}/">Home</a>
      </li>
      <li>
        <a href="{{ site.url }}/projects/">Projects</a>
      </li>
      <li>
        <a href="{{ site.url }}/assets/Resume.pdf">Resume</a>
      </li>
    </ul>
  </aside>
  <article class="col-md-9 profile-content">
    {{content}}
  </article>
</main>
